 <div class="container" style="margin-top:20px;" >
  <nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
     <img src="<%= asset_url('logo.jpg') %>" alt="Logo" width="45" height=40"" class="d-inline-block align-text-top">
      TODO APP
    </a>
  </div>
</nav>
<div class="text-success">
  <hr>
</div>
<div class="container">
<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title"><%= @friend.name.upcase %></h5>
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Location:</strong> <%=@friend.location %></p>
    <p class="card-text"><strong>Date of Birth:</strong> <%= @friend.dob %></p>
    <p class="card-text"><strong>Age:</strong> <%= (((Date.today - @friend.dob.to_date)/365).floor) %></p>
    <p class="card-text"><strong>Contact Number:</strong> <%= @friend.contact %></p>
  </div>
</div>

</div>
<hr>
    <center>
    <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "GO To Home",friends_path, {class:"btn btn-danger"}%><%= link_to "Edit Friend", edit_friend_path(@friend), {class:"btn btn-info"}%><%= button_to "Remove Friend",friend_path(@friend),data: {turbo_confirm: "Are you sure to delete??"}, method: :delete,  class:"btn btn-danger" %>
  </div>
  </center>
  </div>
 